/* FONTS: */
h1, h3, p{
    color:#5A5A5A;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height:3.5em;
}


/* AREAS OF THE PAGE */

body{

    background-color: #fcf7f7;   

}




/* BUTTONS */

a{
    border: 5px;
    border-color: black;
    border-style: solid;

    margin:15px
}


#link1{
    border-color:pink;
    border-style:dashed
}

#link2{
    border:2px;
    border-color:black;
    border-style: solid;

    border-radius: 5px;

}

#link3{
    background-color: #fcf7f7;

    padding:20px;
    
    border:2px;
    border-color:#5A5A5A;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight:700;
    color:#5A5A5A;
    text-align: center;
    text-decoration: none;
    
}

#link3:hover{

    background-color: #f4c2c2;

    border:2px;
    border-color:#5A5A5A;
    border-style: solid;
    
}


#link4{
    background-color: yellow;

    padding:20px;
    
    border:20px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:grey;
    
    text-decoration: none;

    animation: border-pulsate1 4s infinite;
}
