/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

body{
    background-color: whitesmoke;
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:#5A5A5A;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 900px;
    background-color: #fcf7f7;

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100,100,100);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:450px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;

}

.chart1{
    background-color: white;
    width:500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;

}

#link{
    background-color: #fcf7f7;



    font-family: 'Roboto', sans-serif;
    font-weight:700;
    color:#5A5A5A;
    text-align: center;
    text-decoration: none;
    
}

#link3:hover{

  

    border:2px;
    border-color:#5A5A5A;
    border-style: solid;
    
}
